.masterWrapper {
  padding-top: 1em;
}

.assign-btn{
  width:100%;
}

.crewAssignments {
  padding: 2em;
}

.no-assignments-mgs{
  padding:1em;
  text-align:center;
}

.assignmentContainer {
  margin-top:1em;
  padding: 1em;
  border: 1px solid #ccc;
  background-color: #efefef;
  border-radius: .25rem;
}

.assignment {
  background-color: #fff !important;
  border-radius: 4px;
  padding: 0.5em;
  margin-top: .25rem;
}

.select-person{
  margin-left:10px;
  margin-right:10px;
}